.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #415a77;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2500px;
  color: transparent;
}
h1{
  font-size:large;
  background-image:url(./diamond2.jpg);
  background-size: cover;
  background-clip: text;
}
.App-link {
  color: #61dafb;
}


